{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "trailingComma": "es5",
        "singleQuote": false,
        "printWidth": 80,
        "tabWidth": 2
      }
    ],
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "max-len": ["error", { "code": 80, "tabWidth": 2 }],
    "no-prototype-builtins": 0,
    "no-plusplus": 0,
    "no-inner-declarations": 0,
    "no-loop-func": 0,
    "no-shadow": 2,
    "prefer-destructuring": [
      "warn",
      {
        "array": false,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "prefer-const": 1,
    "no-unreachable": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": true,
        "classes": true,
        "variables": true
      }
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ]
  }
}
